.nav{
    height: 10vh;
    padding: 1rem;

    &__list{ 
        text-align: right;
    }
    &__item{
        display: inline;
        padding: 1rem;
    }
    &__link{
        font-size: 1.5rem;
        font-weight: 500;
        font-family: $font-family;
        text-decoration: none;
        @include transition(1s);

        &:hover{
            color: blue($color: #000000);
            text-decoration: underline;
        }
        &--active{
            color: $secondary-color;
        }

    }

}